<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.vidinoti.cordova.pixlive" version="0.0.3">
    <name>PixLive</name>
    <description>PixLive SDK plugin for Cordova based hybrid apps</description>
    <keywords>augmented reality,iBeacon</keywords>
    <license>MIT</license>
    <repo>https://github.com/vidinoti/cordova-plugin-PixLive.git</repo>
    <author>Vidinoti SA</author>

    <engines>
        <engine name="cordova" version=">=3.7.0" />
        <engine name="cordova-android" version=">=3.7.0" />
        <engine name="cordova-ios" version=">=3.8.0" />
    </engines>

    <info>
    You need to have a valid PixLive SDK license to use this plugin. Check http://www.pixlive.info for more information.
    </info>

    <js-module name="PixLive" src="www/PixLive.js">
        <clobbers target="cordova.plugins.PixLive" />
    </js-module>

    <dependency id="org.apache.cordova.file" />

    <platform name="ios">
        <preference name="PIXLIVE_SDK_IOS_LOCATION" />
        <config-file parent="/*" target="config.xml">
            <feature name="PixLive">
                <param name="ios-package" value="PixLive" />
            </feature>
        </config-file>

        <source-file src="src/ios/PixLive.m" />
        <header-file src="src/ios/PixLive.h" />
        <source-file src="src/ios/MyCameraImageSource.m" />
        <header-file src="src/ios/MyCameraImageSource.h" />
        <source-file src="src/ios/IonicARViewController.m" />
        <header-file src="src/ios/IonicARViewController.h" />
        <framework src="Accelerate.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreBluetooth.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="ImageIO.framework" />
        <framework src="JavaScriptCore.framework" />
        <framework src="libc++.dylib" />
        <framework src="libiconv.dylib" />
        <framework src="libz.dylib" />
        <framework src="MediaPlayer.framework" />
        <framework src="MessageUI.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="Social.framework" />
        <framework src="vendor/PixLive/VDARSDK.framework" custom="true" />
        <hook type="before_plugin_install" src="scripts/iosBeforeInstall.js" />
    </platform>

    <platform name="android">
        <preference name="PIXLIVE_SDK_ANDROID_LOCATION" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PixLive">
                <param name="android-package" value="com.vidinoti.pixlive.PixLive" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-feature
                android:name="android.hardware.camera.autofocus"
                android:required="false" />
            <uses-feature android:name="android.hardware.telephony" android:required="false" />
            
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CALL_PHONE" />
            
             <!--  Permissions for notifications -->
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            
            <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
            
            <!--  Permission for beacon -->
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity
                android:configChanges="orientation|keyboardHidden"
                android:name="com.vidinoti.android.vdarsdk.VDARModalWebView"
                android:label="web_view"
                android:launchMode="standard"
                android:theme="@android:style/Theme.NoTitleBar" >
            </activity>
            <activity
                android:configChanges="orientation|keyboardHidden"
                android:name="com.vidinoti.android.vdarsdk.MoviePlayerActivity"
                android:label="movie_player"
                android:launchMode="standard"
                android:theme="@android:style/Theme.NoTitleBar" >
            </activity>

            <!-- Custom internal Facebook & Twitter Share View -->
            <activity android:name="com.vidinoti.android.vdarsdk.VDARFacebookShareActivity"
                      android:label="Social share"
                      android:launchMode="standard"
                android:configChanges="orientation|keyboardHidden" 
                android:theme="@android:style/Theme.NoTitleBar">
            </activity>
            
            <!--<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>-->
            
            <!-- For notifications 
             <receiver
                android:name="$PACKAGE_NAME.NotificationReceiver"
                android:permission="com.google.android.c2dm.permission.SEND" >
                <intent-filter>
                    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
            -->

            <!-- For beacons -->
            <service android:enabled="true"
                android:exported="true"
                android:isolatedProcess="false"
                android:label="beacon"
                android:name="com.vidinoti.vidibeacon.service.BeaconService"
                />

            <service android:enabled="true"
                android:name="com.vidinoti.vidibeacon.BeaconIntentProcessor"
                />

            <receiver android:name="com.vidinoti.android.pixliveplayer.StartSDKReceiver">
                <intent-filter>
                    <action android:name="com.vidinoti.android.pixliveplayer.START_SDK"/>
                </intent-filter>
            </receiver>
            <receiver android:name="com.vidinoti.vidibeacon.startup.StartupBroadcastReceiver">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED"/>
                    <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                    <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                </intent-filter>
            </receiver>
        </config-file>

        <source-file src="src/android/PixLive.java" target-dir="src/com/vidinoti/pixlive/PixLive" />
        <source-file src="vendor/PixLive/libs/vdarsdk.jar" target-dir="libs" />
        <source-file src="vendor/PixLive/libs/google-play-services.jar" target-dir="libs" />
        <source-file src="vendor/PixLive/libs/facebook_sdk_3.8.0.jar" target-dir="libs" />
        <source-file src="vendor/PixLive/libs/android-support-v4.jar" target-dir="libs" />
        <source-file src="vendor/PixLive/libs/armeabi-v7a/libVDARSDKEngine.so" target-dir="libs/armeabi-v7a" />
        <source-file src="vendor/PixLive/libs/armeabi-v7a/libVDARSDKEngineNoNEON.so" target-dir="libs/armeabi-v7a" />
        <source-file src="vendor/PixLive/libs/armeabi-v7a/libCPUFeatureJava.so" target-dir="libs/armeabi-v7a" />
        <hook type="before_plugin_install" src="scripts/androidBeforeInstall.js" />
    </platform>
</plugin>
